

$color-dark-primary: #0e1111;
// $color-dark-secondary: #5e6e6e;

$color-light-primary: #e6e8eb;
// $color-light-secondary: #c3c5c7;

$color-correct: rgb(0, 211, 0);
$color-wrong:   rgb(255, 50, 50);