@import './../abstracts/mixins';
@import './../abstracts/variables';

.image {
  @include transition04;
  display: block;
  height: 30vh;
  width:  70vw;

  margin: 1vh auto 0 auto;
 
  border: 2px solid $color-dark-primary;
  border-radius: 5%;



  @media (min-width: 600px) {
    width: auto;
    min-width: 40vw;
    max-width: 70vw;
  }
}


.gif {
  position: absolute;
  top: 25vh;
  margin: 0 auto;

  width: 10vw;


  @media (min-width: 700px) {
    left: 10vw;
    top:  50%;
    
    width: 20vw;
    
    transform: translateY(-50%);
  }
}