@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import './../abstracts/variables';

* {
  font-family: 'Pacifico', Arial, Helvetica, sans-serif, cursive;
  box-sizing: border-box;
  
  overflow:   scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  padding: 0;
  margin:  0;

  background-color: $color-light-primary;


  //1rem = 10px
  font-size: 62.5%;
}